img.leaflet-marker-icon
{
    border: 2px solid #fff;
    border-radius: 3px;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    text-align: center;
    padding: 0px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}